@import 'react-big-calendar/lib/sass/styles';
@import 'react-big-calendar/lib/addons/dragAndDrop/styles'; // if using DnD

// Custom styles
$rbc-selected-bg-color: #ff0000; // example: change selected event background color
$rbc-header-bg: #00ff00; // example: change header background color

// Add more custom styles or overrides as needed
.rbc-event {
  background-color: transparent !important;
  color: #ffffff;
  border: none
}

.rbc-header {
    padding: 15px 0px;
    height: 150px;
}

.rbc-month-view {
    min-width: 1000px;
}

.rbc-time-view {
    min-width: 1000px;
}

.rbc-time-view {
    border: none;
}

.rbc-btn-group:nth-of-type(1) {
    button {
        background-color: #C73838;
        color: white;
        font-weight: semi-bold;
    }
}

.rbc-timeslot-group {
    .rbc-time-slot:nth-last-of-type(1) {
        display: none;
    }

    .rbc-time-slot:nth-of-type(1) {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #9E7878;
        padding: 0px 20px;
        font-size: 14px;
    }
}

.rbc-event-label {
    display: none;
}

.rbc-event {
    padding: 0px;
}